
@forward './variables.scss';

@mixin flex($justify:flex-start,$align: center,$wrap:nowrap) {
  display:flex;
  flex-direction: row;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items:$align;
}

@mixin flex-column($justify:flex-start,$align: center,$wrap:nowrap) {
  display:flex;
  flex-direction:column;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items:$align;
}