@forward './variables.scss';

@mixin flex($justify: flex-start, $align: center, $wrap: nowrap) {
  display: flex;
  flex-flow: row $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify: flex-start, $align: center, $wrap: nowrap) {
  display: flex;
  flex-flow: column $wrap;
  justify-content: $justify;
  align-items: $align;
}
